 .topnav {
    width: 100%;
    list-style-type: none; 
    z-index: 10;
    text-align: left;
    align-items: center;
    font-size: 16.5px;
    background-color: #262626;
    height: 45px;
    top:0;
    position: absolute;
    display: flex;
} 

.topnav a{
    color: white;
    background-color: darkred;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    /* padding-bottom: 24px; */
}

.topnav a:hover,.logSignButton:hover {
    color: black;
    background-color: palevioletred;
}


li {
    display: inline-flex;
    align-items: center;
}

.logSignButton {
    color: white;
    background-color: darkcyan;
    border: none;
    font-size: 16.5px;
    padding-left: 10px;
    padding-right: 10px;
    /* padding-bottom: 24.1px; */
    overflow: none;
    /* align-items: baseline; */
    display:inline-flex;
    vertical-align: center;
}


/* .logo {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
}

.logo img{
  width: 80px;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #464646;
} */

