html, body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #fdf0e0;
}

#search-page {
    position: relative;
    height: calc(95vh - 20px - 46px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    background-color: #832;
}

#search-bg {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url(https://i.pinimg.com/originals/c0/6b/3e/c06b3eed75a132cfed876bd305f03321.png);
    background-position: center;
    background-size: 300%;
    filter: blur(0px) brightness(60%);
}

#explore-button {
    --width: 120px;
    position: absolute;
    width: var(--width);
    font-size: 35px;
    left: calc(50% - var(--width) / 2 - 20px);
    top: calc(100% - 25px - 10px);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #fdf0e0;
    text-align: center;

    cursor: pointer;
}

#browse-page {

}

#search-page > div {

}

#content-filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#search-interface {
    height: calc(100% - 60px);
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#search-logo {
    height: 100px;
    width: 100%;

    position: absolute;
    top: -120px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#search-logo img {
    height: 100%;
}

#search-interface > div {
    position: relative;
}

#search-interface input {
    width: 75vw;
    font-size: 40px;
    padding: 10px;
    text-align: center;
    border-radius: 60px;
    border: solid 2px black;
}

#search-interface input:focus {
    /* outline: none; */
}

#content-filters {
    transition: flex 0.4s;
    width: 100%;
}

#content-filters.selected {
    flex: 1.0;
}

#content-filters > * {
    flex: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width: 30%;
    transition: flex 0.4s;
}

#content-filters > .selected {
    flex: 1;
}

.filter-toggle-button {
    height: 80px;
    width: 80px;
    padding: 10px;
    aspect-ration: 1/1;
    background-color: #eee;
    border-radius: 10px;
    border-width: 0px;
    cursor: pointer;
    transition: height 0.4s, width 0.4s, border-radius 0.4s;
}

.filter-toggle-button:hover {
    background-color: #eee;
}

.filter-menu {
    background-color: #eee;
    flex: 0;
    width: 100%;
    border-radius: 10px;
    transition: flex 0.4s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-menu * {
    font-size: 16px;
}

.filter-menu-margin {
    display: none;

    flex: 1;
    height: calc(100% - 40px);
    margin: 10px;
}

.selected .filter-toggle-button {
    height: 30px;
    width: 30px;
    background-color: #aaa;
}

.selected > .filter-toggle-button {
    background-color: #eee;
    border-radius: 10px 10px 0px 0px;
}

.selected > .filter-menu {
    flex: 1;
}

.toggle-button {
    border-radius: 100px;
    padding: 5px 10px;
    margin: 2px;
    background-color: orange;
    border: 2px solid darkred;
    cursor: pointer;
}

#browse-content {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.entry {
    position: relative;
    background-color: #ddd;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry-title {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #333;
    color: white;
    text-align: center;
    opacity: 80%;
}

.audio-entry .entry-title {
    cursor: ew-resize;
}

.image-entry > .image-preview {

    width: 100%;
    position: absolute;
    z-index: 0;
    transform: scale(1.0);

    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: width 0.4s, height 0.4s, transform 0.4s, z-index 0.4s;
}

.image-entry:hover > .image-preview {
    z-index: 10;
    width: calc(100% * 16/9);
    transform: scale(1.2);
}

.audio-entry {
    background-color: gray;
    border-radius: 50% 50% 0% 0%;
}

.audio-play-button {
    width: 70%;
    aspect-ratio: 1;
    /* background-color: #bbb; */
    border-radius: 100%;

    background-image: url(https://icon-library.com/images/play-button-icon-vector/play-button-icon-vector-4.jpg);
    background-size: cover;
    background-position: center;

    cursor: pointer;

    /* transition: transform 0.2s; */
}

/* .audio-play-button:hover {
    transform: scale(1.1);
} */

.download-button, .audio-entry:hover .audio-play-button {
    background-color: #ddd;
    border-radius: 100%;
    position: absolute;
    aspect-ratio: 1;
    height: 30%;
    width: auto;
    opacity: 90%;
    transition: opacity 0.4s;
    cursor: pointer;
    background-image: url(https://cdn4.iconfinder.com/data/icons/arrows-245/24/download_1-1024.png);
    background-position: center;
    background-size: cover;
}

.download-button {
    opacity: 0%;
    right: 10px;
    bottom: 10px;
}

.entry:hover .download-button {
    opacity: 90%;
}

.media-progress-bar {
    position: absolute;
    left: 0px;
    top: -5px;
    height: 5px;
    background-color: red;
}

.media-progress-bar-tip {
    --radius: 5px;
    position: absolute;
    right: calc(var(--radius) * -1);
    top: calc(var(--radius) * -1 - 0px);
    height: calc(var(--radius) * 2);
    width: calc(var(--radius) * 2);
    background-color: #888;
    border-radius: 100%;
    border: 2px solid #ddd;

    cursor: ew-resize;
}
