<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>AssetHoarder</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </head>
    <body onload="main();">

        <div id="search-page">
            <!-- <div id="search-bg"></div> -->
            <div id="search-interface">
                <input placeholder="Search the Hoard" autofocus>
                <div id="content-filters">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div id="explore-button" onclick="document.getElementById('browse-page').scrollIntoView({ behavior: 'smooth'});">
                Explore
            </div>
        </div>

        <div id="browse-page">
            <div id="browse-content">
                
            </div>
        </div>

    </body>
</html>
